html, body {
	background: gray;

}

.toggle-box {
	display: inline-block;
	background: blue;
	vertical-align: middle;
    text-align: center;
	height: 100px;
	width:300px;
	position: absolute;
	margin: -50px 0 0 -150px;
	top: 50%;
	left: 50%;
}

.color1 {
	background: blue;
}

.color2 {
	background: orange;
}

img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}