html, body {
	background: gray;
}

img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.toggle-box {
	display: inline-block;
	background: blue;
	height: 100px;
	width:300px;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.color1 {
	background: blue;
}

.color2 {
	background: orange;
}